<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CaminhoConexao" connectionString="server=localhost;user id=root;password=1993;database=gestao_carros_venda"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>